body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #eb1616;
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
    max-width: 600px;
    margin: auto;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
    background-color: #eb1616;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #eb1616;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f1f1f1;
}

